<a href="https://colab.research.google.com/github/InhwanCho/chatbot_think_big/blob/main/thinkbig_stuff/%EC%B5%9C%EC%A2%85_%EC%8B%A4%ED%96%89%ED%8C%8C%EC%9D%BC/%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%B5%9C%EC%A2%85_%EB%B2%84%EC%A0%84(colab).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import tqdm
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#감성말뭉치 데이터 불러오기
train_data = pd.read_excel('/content/drive/MyDrive/자연어(NLP) 프로젝트/data_folder/감성대화말뭉치(최종데이터)_Training.xlsx')
val_data = pd.read_excel('/content/drive/MyDrive/자연어(NLP) 프로젝트/data_folder/감성대화말뭉치(최종데이터)_Validation.xlsx')
all_df = pd.concat([train_data, val_data]).iloc[:, 1:]

In [ ]:
all_df = all_df[['사람문장1','시스템응답1','감정_대분류']]
all_df.columns = ['Q','A','label']

In [ ]:
# 감정 -> 0 : 중립, 1 : 나쁨 , 2: 기쁨
all_df['label'] = all_df['label'].map({'기쁨' : 2, '기쁨 ':2 ,'불안' : 1, '당황':1, '슬픔':1, '분노':1,'상처':1,'불안 ':1})

In [ ]:
all_df.head(2)

                                         Q                          A  label
0                아내가 드디어 출산하게 되어서 정말 신이 나.  아내분이 출산을 하시는군요. 정말 축하드려요.      2
1  당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.         약 종류가 많아 번거로우시겠어요.      1

In [ ]:
PATH = '/content/drive/MyDrive/자연어(NLP) 프로젝트/data_folder/save_folder/pre_data.csv'
all_df.to_csv(PATH,index = None)

In [ ]:
df = pd.read_csv(PATH)
df.head(2)

                                         Q                          A  label
0                아내가 드디어 출산하게 되어서 정말 신이 나.  아내분이 출산을 하시는군요. 정말 축하드려요.      2
1  당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.         약 종류가 많아 번거로우시겠어요.      1

In [ ]:
#일상대화 말뭉치 불러오기
PATH2 = '/content/drive/MyDrive/자연어(NLP) 프로젝트/data_folder/save_folder/chatbot_base.csv'
con_df = pd.read_csv(PATH2)
con_df.head(2)

             Q           A  label
0       12시 땡!  하루가 또 가네요.      0
1  1지망 학교 떨어졌어   위로해 드립니다.      0

In [ ]:
total_df = pd.concat([df,con_df])
total_df.reset_index(drop=True, inplace=True)
total_df

,Q,A,label
0,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,2
1,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,1
2,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.,1
3,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,재취업 후 첫 월급이라 정말 기쁘시겠어요.,2
4,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?,2
...,...,...,...
57827,훔쳐보는 것도 눈치 보임.,티가 나니까 눈치가 보이는 거죠!,2
57828,훔쳐보는 것도 눈치 보임.,훔쳐보는 거 티나나봐요.,2
57829,흑기사 해주는 짝남.,설렜겠어요.,2
57830,힘든 연애 좋은 연애라는게 무슨 차이일까?,잘 헤어질 수 있는 사이 여부인 거 같아요.,2
57831,힘들어서 결혼할까봐,도피성 결혼은 하지 않길 바라요.,2

In [ ]:
#최종 전처리 데이터 저장
total_df.to_csv('ChatbotData.csv', index = None)

In [ ]:
!ls
#ChatbotData -> github

ChatbotData.csv  drive	sample_data

In [ ]:
import pandas as pd
pd.read_csv('ChatbotData.csv')

,Q,A,label
0,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,2
1,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,1
2,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.,1
3,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,재취업 후 첫 월급이라 정말 기쁘시겠어요.,2
4,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?,2
...,...,...,...
57827,훔쳐보는 것도 눈치 보임.,티가 나니까 눈치가 보이는 거죠!,2
57828,훔쳐보는 것도 눈치 보임.,훔쳐보는 거 티나나봐요.,2
57829,흑기사 해주는 짝남.,설렜겠어요.,2
57830,힘든 연애 좋은 연애라는게 무슨 차이일까?,잘 헤어질 수 있는 사이 여부인 거 같아요.,2
57831,힘들어서 결혼할까봐,도피성 결혼은 하지 않길 바라요.,2